.Login-logo {
    height: 30vmin;
    pointer-events: none;
  }
  
  .ok {
    height: 30vh;
    margin-top: 2em;
  }
  .Login-header {
    background-color: #77477e;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: #ffee4a;
    font-size: 26px;
  }
  
  .button {
    background-color: #ffee4a;
    border: none;
    color: #77477e;
    border-radius: 12px;
    padding: 16px 25px;
    text-align: center;
    font-size: 18px;
    margin: 20px 2px;
    opacity: 0.8;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    transition-duration: 0.4s;
  }
  
  .button:hover{
    opacity: 1;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }
  
  .Buttons {
    margin-top: 80px;
    text-align: center;
  }
  
  text {
    font-size: 20px;
    text-align: left;
  }
  
  input {
    border-radius: 12px;
    border: none;
    width: 100%;
    margin: 8px 0;
    box-sizing: border-box;
  }
  